<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="artyfartyparty.solo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Solo"
        android:logo="@drawable/ic_directions_car_black_24dp"
        android:roundIcon="@drawable/android_mdpi"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Controller.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.SignUpActivity">
            <intent-filter>
                <action android:name=".Controller.SignUpActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Controller.AllRidesActivity">
            <intent-filter>
                <action android:name=".Controller.AllRidesActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Controller.AddRideActivity">
            <intent-filter>
                <action android:name=".Controller.AddRideActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Controller.SearchActivity">
            <intent-filter>
                <action android:name=".Controller.SearchActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Controller.RideActivity">
            <intent-filter>
                <action android:name=".Controller.RideActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Controller.MyProfileActivity">
            <intent-filter>
                <action android:name=".Controller.ProfileActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Controller.MyRideActivity">
            <intent-filter>
                <action android:name=".Controller.MyRideActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>